.social {
  width: 230px;
  height: 30px;

  &Ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
  }

  &Li {
    width: 30px;
    height: 30px;
  }

  &Link {
    width: 100%;
    height: 100%;
  }

  &Img {
    width: 30px;
  }
}
