footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  height: 629px;

  background: $colors-white;
  border-top: 1px solid $colors-gray-100;

  .Inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 1050px;
    height: 521px;

    .Top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 28px 0px 32px;
      gap: 150px;

      width: 1050px;
      height: 417px;

      border-bottom: 1px solid $colors-gray-100;

      .CustomerService {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;

        width: 477px;
        height: 357px;

        .Text {
          width: 111px;
          height: 30px;

          font-weight: 700;
          font-size: 21.328px;
          line-height: 140%;

          color: $colors-content;
        }

        .Number {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px;
          gap: 8px;

          width: 393px;
          height: 53px;

          .Tel {
            width: 191px;
            height: 53px;

            font-weight: 700;
            font-size: 37.897px;
            line-height: 140%;

            color: $colors-content;
          }

          .Live {
            width: 194px;
            height: 24px;

            font-weight: 600;
            font-size: 16px;
            line-height: 150%;

            color: $colors-content;
          }
        }

        .Inquirys {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;
          gap: 16px;

          width: 477px;
          height: 188px;

          .Inquiry {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 16px;

            width: 477px;
            height: 52px;

            .Button {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 4px;
              gap: 4px;

              width: 140px;
              height: 40px;

              border: 1px solid $colors-gray-200;

              .ButtonText {
                height: 26px;

                font-weight: 400;
                font-size: 16px;
                line-height: 160%;

                color: $colors-content;
              }
            }

            .Time {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding: 0px;

              height: 52px;

              .TimeTop {
                height: 26px;

                font-weight: 400;
                font-size: 16px;
                line-height: 160%;

                color: $colors-content;
              }

              .TimeBottom {
                height: 26px;

                font-weight: 400;
                font-size: 16px;
                line-height: 160%;

                color: $colors-content;
              }
            }
          }
        }

        .Mail {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;

          height: 38px;

          .Frame23,
          .Frame24 {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;

            height: 19px;

            .MailText {
              height: 19px;

              font-weight: 400;
              font-size: 12.003px;
              line-height: 160%;

              color: $colors-content;
            }

            .MailMail {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 0px 4px;
              gap: 4px;
              height: 19px;

              color: $colors-primary;
            }
          }
        }
      }

      .About {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 28px;

        width: 486px;
        height: 226px;

        .FooterNavigation {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          padding: 0px;

          width: 486px;
          height: 26px;

          .List {
            height: 26px;

            .Text {
              font-weight: 400;
              font-size: 16px;
              line-height: 160%;
            }
          }
        }

        .Area {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;

          height: 114px;

          .Text {
            height: 19px;

            font-weight: 400;
            font-size: 12.003px;
            line-height: 160%;

            color: $colors-content;
          }

          .Paragraph {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 8px;

            height: 19px;

            .Bar {
              width: 1px;
              height: 10px;

              background: $colors-content;
            }

            .Link {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 0px 4px;
              gap: 4px;

              font-weight: 400;
              font-size: 12.003px;
              line-height: 160%;

              color: $colors-primary;

              .More {
                display: none;
                width: 6px;
                height: 11px;
              }

              &:hover .More {
                display: block;
              }
            }
          }
        }

        .Sns {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 0px;
          gap: 20px;

          width: 230px;
          height: 30px;

          li {
            width: 30px;
            height: 30px;

            .SnsLink {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }

    .Middle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 24px 0px 32px;

      width: 1050px;
      height: 104px;

      .Guarantee {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;

        height: 48px;

        .Text {
          height: 48px;

          font-weight: 400;
          font-size: 10px;
          line-height: 160%;

          color: $colors-content;
        }
      }
    }
  }
}

.Bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 4px 32px;
  gap: 4px;

  width: 100%;
  height: 108px;

  background: $colors-gray-50;

  .Inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 680px;
    height: 56px;

    .Text {
      font-weight: 400;
      font-size: 10px;
      line-height: 160%;

      text-align: center;

      color: $colors-gray-400;
    }
  }
}
