button {
  border: none;
}

.Normal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  background: $colors-primary;
  color: $colors-white;
  border-radius: 4px;

  &.White {
    background: $colors-white;
    color: $colors-primary;

    border: 1px solid $colors-primary;
  }

  &.Button143 {
    width: 143px;
    height: 44px;
  }

  &.Button333 {
    width: 333px;
    height: 44px;
  }

  &.Button340 {
    width: 340px;
    height: 54px;
  }

  &.Button424 {
    width: 424px;
    height: 54px;
  }

  &.Button155 {
    width: 155px;
    height: 44px;
  }

  &.Button244 {
    width: 244px;
    height: 44px;
  }

  &.Button284 {
    width: 284px;
    height: 44px;
  }
}

.FooterButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 4px;

  width: 140px;
  height: 40px;

  border: 1px solid $colors-gray-200;
  background-color: $colors-white;
}
