.control {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
  margin-bottom: 4px;
  padding: 8px;

  &_inline {
    display: inline-flex;
  }

  &_vertical {
    flex-direction: column;
  }
}

.label {
  // position: absolute;
  // left: 0;
  // top: 50%;
  // translate: 0 -50%;
  @include paragraph-small;
}

.input[type='checkbox']+label::before {
  content: '';
  background: url(@/assets/img-check.svg) -8px -8px no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

.input[type='checkbox'] {

  // padding: 8px;
  // width: clamp(320px, 20vw, 500px);
  &:checked+label::before {
    content: '';
    background: url(@/assets/img-check.svg) -8px -40px no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
  }
}