.wrapper {
  width: 100%;
  color: $colors-content;
  & > span {
    font-weight: $font-weight-bold;
  }
}

.productTotalInfo {
  display: none;
  // position: absolute;
}

.productFilter {
  display: flex;
  justify-content: space-between;

  & > a {
    padding: 3px 5px;
    color: $colors-content;
  }

  & > button::after {
    content: '|';
    padding-left: 10px;
  }

  & > button:last-child {
    content: '';
  }
}
