.wrapper {
  width: 100%;
  color: $colors-content;
  & > span {
    font-weight: $font-weight-bold;
  }
}

.productFilter {
  display: flex;
  justify-content: space-between;
  position: relative;

  & > a {
    padding: 3px 5px;
    color: $colors-gray-400;
  }

  & > a::after {
    content: '|';
    padding-left: 10px;
  }
}

.productTotalInfo {
  // display: none;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 30;
  width: 272px;
  padding: 12px;
  background-color: $colors-white;
  border: 1px solid $colors-gray-400;
  font-size: $font-size-small;
  line-height: $line-height-140;
  letter-spacing: 0px;
}

.productTotalInfo:hover {
  display: block;
}
