.thumbnailWrapper {
  min-width: 250px;
  // min-height: 590px;
  padding-bottom: 78px;

  & > p {
    font-size: $font-size-small;
    color: $colors-gray-400;
    margin: $spacing-1 0;
    line-height: $line-height-150;
  }

  & > h4 {
    font-size: $font-size-medium;
    color: $colors-content;
    padding: $spacing-2 0;
    margin: 0;
    line-height: $line-height-150;
  }

  & > span {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $colors-content;
    padding: $spacing-1 0;
  }

  & > .starDelivery {
    margin: $spacing-3 0 0;
  }

  & > .saleRatio {
    padding-right: 4px;
    color: $colors-accent-yellow;
  }

  & > .originalPrice {
    display: flex;
    margin-top: $spacing-2;
    font-size: $font-size-small;
    color: $colors-gray-400;
    font-weight: $font-weight-regular;
    text-decoration: line-through;
  }

  & > div {
    margin-top: $spacing-3;
  }
}

.thumbnailVisual {
  width: 250px;
  height: 320px;
  position: relative;
  overflow: hidden;
}

.thumbnailImg {
  transition: all 0.5s ease-in-out 0s;
}

.thumbnailImg:hover {
  width: 100%;
  box-sizing: border-box;
  inset: 0px;
  object-fit: cover;
  transform: scale(1.02);
  transition: all 0.3s ease-in-out 0s;
}

.cartButton {
  position: absolute;
  z-index: 50;
  bottom: 17px;
  right: 15px;
  width: 45px;
  height: 45px;
  background: #2a0038;
  opacity: 0.5;
  border-radius: 50%;
}

.badgeWrapper {
  display: flex;
  justify-content: flex-start;
}

.badgeWrapper :first-child {
  margin-right: 10px;
}
