.userMenuList {
  display: flex;
  justify-content: right;
  padding-top: 0.75rem;

  li {
    @include paragraph-small;
    color: $colors-content;

    &:first-child {
      color: $colors-primary;
    }

    a {
      padding: 0 0.75rem;
    }

    &:last-child {
      a {
        background-image: url('../../assets/img-icon-arrow-down.svg');
        background-repeat: no-repeat;
        background-position-y: 50%;
        background-position-x: 97%;
      }
    }

    &:nth-child(n + 2) {
      margin-left: 1px;

      a {
        border-left: 1px solid #d9d9d9;
      }
    }
  }
}
