.control {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0px;
  gap: 8px;
  &_inline {
    display: inline-flex;
  }
  // &_vertical {
  //   flex-direction: column;
  // }
}
label.paragraph-small {
  @include paragraph-small;
}
label.paragraph-medium {
  @include paragraph-medium;
}
label.label-large {
  @include label-large;
}
label.content {
  color: $colors-content;
}
label.hover:hover {
  color: $colors-primary;
}

.input[type='checkbox']{
  overflow: hidden;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}


.input[type='checkbox']+label::before {
  content: '';
  background: url(@/assets/img-check.svg) -8px -8px no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

.input[type='checkbox'] {
  &:checked+label::before {
    content: '';
    background: url(@/assets/img-check.svg) -8px -40px no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
  }
}

 