.Banner {
  display: flex;
  margin: 0;
}

.BannerImage{
  vertical-align: middle;
  width: 1050px;
  height: 139px;
}

.BannerCaption{
  overflow: hidden;
  position: absolute;
  clip: rect(0,0,0,0);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}